{% extends 'financeiro/base.html' %}

{% load static %}

{% block title %}
    {% block titulo %}
        Adicionar uma Entrada
    {% endblock %}
{% endblock %}

{% block CSS %}
    <link rel= 'stylesheet' href= 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.min.css'>
    
    <link rel= 'stylesheet' href= "{% static 'css/plugins/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/bootstrap-datepicker/bootstrap-datepicker.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/waitme/waitMe.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/bootstrap-select/bootstrap-select.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/dropzone/dropzone.css' %}">

    <link rel= 'stylesheet' href= "{% static 'css/paginas/saida/saida.css' %}">

    {% if pop %}
        <style>
            .navbar, #leftsidebar{
                display: none;
            }

            .content{
                margin: 20px !important;
            }
        </style>
    {% endif %}
{% endblock %}

{% block dinamico %}
    {% if messages %}
            {% for success in messages %}
                <br>
                <div style="background-color: green;" id="alert" class="alert alert alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ success }}
                </div>
            {% endfor %}
    {% endif %}
    <form method= 'POST' action= "{% url 'avulso' 'adicionar' %}" enctype= 'multipart/form-data' id= 'formulario'>
        {% csrf_token %}
        
        <div class= 'row clearfix'>
            <div class= 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>   
                <div class= 'card'>
                    <div class= 'header'>
                        <h2>
                            Dados
                            <small> Insira os dados para adicionar uma nova entrada. Os dados com <b> * </b> são obrigatórios </small>
                        </h2>
                    </div>
                    
                    <div class= 'body'>
                        <div class= 'row clearfix'>
                            <div class= 'col-md-6'>
                                <div class= 'col-md-10 titulo'>
                                    <strong> {{ formulario.congregacao.label }} <b> * </b> </strong>
                                </div>
                                
                                <div class= 'col-md-2 text-right titulo'>
                                    <i class= 'material-icons adicionar' onclick= 'adicionar("{{ formulario.congregacao.label }}")'> add </i>
                                </div>

                                <div class= 'input-group'>
                                    <span class= 'input-group-addon'>
                                        <i class= 'material-icons'> {{ formulario.congregacao.help_text }} </i>
                                    </span>

                                    {{ formulario.congregacao }}
                                </div>
                            </div>

                            <div class= 'col-md-6'>
                                <strong> {{ formulario.data.label }} <b> * </b> </strong>

                                <div class= 'input-group'>
                                    <span class= 'input-group-addon'>
                                        <i class= 'material-icons'> {{ formulario.data.help_text }} </i>
                                    </span>

                                    <div class= 'form-line'>
                                        {{ formulario.data }}
                                    </div>
                                </div>
                            </div>

                            <div class= 'col-md-12'>
                                <div class= 'col-md-10 titulo'>
                                    <strong> {{ formulario.transacao.label }} <b> * </b> </strong>
                                </div>
                                
                                <div class= 'col-md-2 text-right titulo'>
                                    <i class= 'material-icons adicionar' onclick= 'adicionar("{{ formulario.transacao.label }}")'> add </i>
                                </div>

                                <div class= 'input-group'>
                                    <span class= 'input-group-addon'>
                                        <i class= 'material-icons'> {{ formulario.transacao.help_text }} </i>
                                    </span>

                                    <div class= 'form-line'>
                                        {{ formulario.transacao }}
                                    </div>
                                </div>
                            </div>

                            <div class= 'col-md-6'>
                                <strong> {{ formulario.descricao.label }} </strong>

                                <div class= 'input-group'>
                                    <span class= 'input-group-addon'>
                                        <i class= 'material-icons'> {{ formulario.descricao.help_text }} </i>
                                    </span>

                                    <div class= 'form-line'>
                                        {{ formulario.descricao }}
                                    </div>
                                </div>
                            </div>

                            <div class= 'col-md-6'>
                                <strong> {{ formulario.valor.label }} <b> * </b> </strong>

                                <div class= 'input-group'>
                                    <span class= 'input-group-addon'>
                                        <i class= 'material-icons'> {{ formulario.valor.help_text }} </i>
                                    </span>

                                    <div class= 'form-line'>
                                        {{ formulario.valor }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        
        <div class= 'row clearfix'>
            <div class= 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <div class= 'card'>
                    <div class= 'header'>
                        <h2>
                            Documento
                            <small> Insira o documento que comprove a entrada. Você pode inserir depois, caso ainda não tenha </small>
                        </h2>
                    </div>

                    <div class= 'body'>
                        <div class= 'row clearfix'>
                            <div class= 'col-md-12'>
                                <strong> {{ formulario.comprovante.label }} </strong>

                                <div class= 'input-group'>
                                    <span class= 'input-group-addon'>
                                        <i class= 'material-icons'> {{ formulario.comprovante.help_text }} </i>
                                    </span>

                                    <div class= 'file'> 
                                        {{ formulario.comprovante }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class= 'btn btn-success btn-lg waves-effect'>
            <i class= 'material-icons'> add </i>
            <span> ADICIONAR ENTRADA </span>
        </button>
    </form>
{% endblock %}

{% block JS %}
    <script src= "{% static 'js/plugins/autosize/autosize.js' %}"> </script>
    <script src= "{% static 'js/plugins/momentjs/moment.js' %}"> </script>
    <script src= "{% static 'js/plugins/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.js' %}"> </script>
    <script src= "{% static 'js/plugins/bootstrap-datepicker/bootstrap-datepicker.js' %}"> </script>

    <script src= 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/pt-br.min.js'> </script>

    <script src= "{% static 'js/paginas/saida/saida.js' %}"> </script>

    <script>
        const adicionar = (classe) => {
            if(classe == 'Congregação')
                window.open("{% url 'congregacao' 'adicionar' %}?pop=on", '', 'popup')
            
            else if(classe == 'Categoria')
                window.open("{% url 'catentrada' 'adicionar' %}", '', 'popup')

            else if(classe == 'Forma de Entrada')
                window.open("{% url 'pagamento' 'adicionar' %}?pop=on", '', 'popup')
            
            else if(classe == 'Membro')
                window.open("{% url 'membro' 'adicionar' %}", '', 'popup')
        }
    </script>
{% endblock %}