{% extends 'kbase.html' %}

{% load static %}

{% block title %} Adicionar uma Congregação {% endblock %}

{% block css %}
    <link rel= 'stylesheet' href= 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.min.css'>
    
    <link rel= 'stylesheet' href= "{% static 'css/plugins/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/bootstrap-datepicker/bootstrap-datepicker.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/waitme/waitMe.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/bootstrap-select/bootstrap-select.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/dropzone/dropzone.css' %}">

    <link rel= 'stylesheet' href= "{% static 'css/paginas/saida/saida.css' %}">

    {% if pop %}
        <style>
            .navbar, #leftsidebar{
                display: none;
            }

            .content{
                margin: 20px !important;
            }
        </style>
    {% endif %}
{% endblock %}

{% block page %}
    {% if messages %}
        {% for success in messages %}
            <br>
            <div style="background-color: green;" id="alert" class="alert alert alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{ success }}
            </div>
        {% endfor %}
    {% endif %}

    <form method= 'POST' action= "{% url 'congregacao' 'adicionar' %}" id= 'formulario'>
        {% csrf_token %}
        
        <div class= 'row clearfix'>
            <div class= 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>   
                <div class= 'card'>
                    <div class= 'header'>
                        <h2>
                            Dados
                            <small> Insira os dados para adicionar uma nova congregação. Os dados com <b> * </b> são obrigatórios </small>
                        </h2>
                    </div>
                    
                    <div class= 'body'>
                        <div class= 'row clearfix'>
                            {% for campo in formulario %}
                                <div class= 'col-md-12'>
                                    <strong> {{ campo.label }} <b> * </b> </strong>

                                    <div class= 'input-group'>
                                        <span class= 'input-group-addon'>
                                            <i class= 'material-icons'> {{ campo.help_text }} </i>
                                        </span>

                                        <div class= 'form-line'>
                                            {{ campo }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class= 'btn btn-success btn-lg waves-effect'>
            <i class= 'material-icons'> add </i>
            <span> ADICIONAR </span>
        </button>
    </form>
{% endblock %}

{% block js %}
    <script src= "{% static 'js/plugins/autosize/autosize.js' %}"> </script>
    <script src= "{% static 'js/plugins/momentjs/moment.js' %}"> </script>
    <script src= "{% static 'js/plugins/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.js' %}"> </script>
    <script src= "{% static 'js/plugins/bootstrap-datepicker/bootstrap-datepicker.js' %}"> </script>

    <script src= 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/pt-br.min.js'> </script>

    <script src= "{% static 'js/paginas/saida/saida.js' %}"> </script>

    <script>
        if({{ pagina }} == 1){
            {% if id %}
                $(window.opener.document).find('#id_congregacao').append($('<option>', {
                    value: {{ id }},
                    text: '{{ nome }}'
                }))
                
                const span = document.createElement('span')
                span.classList.add('text')
                span.innerText = '{{ nome }}'

                const a = document.createElement('a')
                a.appendChild(span)

                const li = document.createElement('li')
                li.setAttribute('data-original-index', String($(window.opener.document).find('#id_congregacao').parent().find('ul')[0].children.length))
                li.appendChild(a)

                $(window.opener.document).find('#id_congregacao').parent().find('ul')[0].appendChild(li)

                $(window.opener.document).find('#id_congregacao').parent().find('button').find('span')[0].innerText = '{{ nome }}'

                $(window.opener.document).find('#id_congregacao').parent().find('div ul li').last().find('span').click(() => {
                    $('#id_congregacao').parent().find('div ul li').last().addClass('selected')
                })
                
                $(window.opener.document).find('#id_congregacao').parent().find('div ul li').last().find('span').click()

                window.close()
            {% endif %}
        }
    </script>
{% endblock %} 