{% extends 'financeiro/base/account.html' %}

{% load static %}

{% block title %}
    Login
{% endblock %}

{% block header %}
    Entre na sua conta para acessar o sistema
{% endblock %}

{% block body %}
    <form action= "{% url 'conta' 'login' %}" method= 'POST'>
        {% csrf_token %}

        {% for input in inputs %}
            <div class= 'input-group'>
                <span class= 'input-group-addon'> <i class= 'material-icons'> {{ input.help_text }} </i> </span>
                <div class= 'form-line'> {{ input }} </div>
            </div>
        {% endfor %}

        <div class= 'row'>
            <div class= 'col-xs-12 margin-b-5'>
                <button class= 'btn btn-block btn-lg btn-success waves-effect'> ENTRAR </button>
            </div>
        </div>

        <div class= 'row m-t-15 m-b--20'>
            <div class= 'col-xs-12 align-center'>
                <a class= 'text-blue' href= "{% url 'password_reset' %}"> Esqueci minha senha </a>
            </div>
        </div>
    </form>
{% endblock %}