{% extends 'financeiro/base/account.html' %}

{% block title %}
    Alterar a Senha
{% endblock %}

{% block header %}
    Escolha a nova senha
{% endblock %}

{% block body %}
    <form method= 'POST'>
        {% csrf_token %}

        <div class= 'form-line'> {{ form.as_p }} </div>

        <div class= 'row'>
            <div class= 'col-xs-12 margin-b-5 margin-t-20'>
                <button class= 'btn btn-block btn-lg btn-success waves-effect'> ALTERAR </button>
            </div>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script>
        if(!$('#id_new_password1').length){
            window.location.replace(window.location.origin)
        }

        [1, 2].map((id) => {
            $(`#id_new_password${id}`).attr('maxlength', '254')
            $(`#id_new_password${id}`).addClass('form-control padding-l-7')
        })
       
        if($('.errorlist').length)
            $('.errorlist')[1].style.display = 'none'
    </script>
{% endblock %}