{% extends 'financeiro/base/account.html' %}

{% block title %}
    Recuperar minha Senha
{% endblock %}

{% block header %}
    Digite o <i> e-mail </i> usado no cadastro,
    um <i> link </i> para alterar a senha será
    enviado para ele.
{% endblock %}

{% block body %}
    <form method= 'POST'>
        {% csrf_token %}
        
        <div class= 'input-group'>
            <span class= 'input-group-addon'> <i class= 'material-icons'> email </i> </span>
            
            <div class= 'form-line'>
                <input type= 'email' name= 'email' maxlength= '254' required class= 'form-control padding-l-7' placeholder= 'Digite seu e-mail' autocomplete= 'off'>
            </div>
        </div>

        <div class= 'row'>
            <div class= 'col-xs-12 margin-b-5'>
                <button class= 'btn btn-block btn-lg btn-success waves-effect'> ENVIAR </button>
            </div>
        </div>
    </form>
{% endblock %}