{% extends 'financeiro/base/account.html' %}

{% block title %}
    Recuperar minha Senha
{% endblock %}
        
{% block header %}
    <h4> <i> Link </i> Enviado </h4>
{% endblock %}

{% block body %}
    <p class= 'text-justify margin-b-25'>
        Foi enviado o <i> link </i> para alterar a senha no <i> e-mail </i> informado
        (se estiver vinculado a uma conta ativa). Verifique nos spam se ainda não
        apareceu.
    </p>

    <a href= "{% url 'index' %}" class= 'btn btn-block btn-lg bg-primary waves-effect color-w'>
        VOLTAR PARA O LOGIN
    </a>
{% endblock %}