{% extends 'financeiro/base/account.html' %}

{% block title %}
    Senha Alterada
{% endblock %}
        
{% block header %}
    <h4> Senha Alterada </h4>
{% endblock %}

{% block body %}
    <p class= 'text-justify margin-b-25'>
        A senha foi alterada corretamente. Clique no botão abaixo para
        voltar ao <i> login </i> e acessar o sistema com sua nova senha.
    </p>
    
    <a href= "{% url 'index' %}" class= 'btn btn-block btn-lg bg-primary color-w waves-effect'>
        VOLTAR AO LOGIN
    </a>
{% endblock %}