{% extends 'base.html' %}

{% load static %}

{% block title %}
    Relatório {{ title|title }}
{% endblock %}

{% block css %}    
    <link rel= 'stylesheet' href= "{% static 'css/paginas/relatorio/bootstrap-select.min.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/paginas/relatorio/bootstrap-datepicker.min.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/paginas/relatorio/relatorio.css' %}">
{% endblock %}

{% block page %}
    <div class= 'row clearfix'>
        <div class= 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            {% if nome %}
                <iframe src= "{% static nome %}"> </iframe>
                
            {% else %}
                <form method= 'POST' action= "{% url 'relatorio' title %}">
                    {% csrf_token %}

                    <!-- Filtros -->
                    <div class= 'card'>
                        <div class= 'body'>
                            <div class= 'header' id= 'botao'>                   <!-- Botão -->
                                <h2>
                                    Filtros
                                    <small> Adicionar filtros para gerar um relátorio mais refinado </small>
                                </h2>

                                <ul class= 'header-dropdown m-r--5'>
                                    <i class= 'material-icons' id= 'adicionar'> add_circle </i>
                                    <i class= 'material-icons' id= 'deletar' style= 'display: none'> delete </i>
                                </ul>
                            </div>
                            
                            <div style= 'display: none' id= 'filtros'>          <!-- Campos -->
                                <br>

                                <div class= 'row clearfix'>
                                    {% if title != 'missao' %}
                                        {% for campo in formulario.visible_fields|slice:'2:6'%}
                                            <div  {% if title == 'missão' %} class= 'col-sm-4' {% else %} class= 'col-sm-3' {% endif %}>
                                                <div class= 'form-group'>
                                                    <div class= 'form-line'>
                                                        <h3 class= 'card-inside-title'> {{ campo.label }} </h3>
                                                        {{ campo }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    {% else %}
                                        {% for campo in formulario.visible_fields|slice:'2:4'%}
                                            <div class= 'col-sm-4'>
                                                <div class= 'form-group'>
                                                    <div class= 'form-line'>
                                                        <h3 class= 'card-inside-title'> {{ campo.label }} </h3>
                                                        {{ campo }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                    {% if formulario.andamento %}
                                        <div class= 'col-sm-4'>
                                            <div class= 'form-group'>
                                                <h3 class= 'card-inside-title'> {{ formulario.andamento.label }} </h3>
                                                
                                                <div class="demo-switch">
                                                    <div class="switch">
                                                        <label> NÃO {{ formulario.andamento }} <span class="lever switch-col-blue"> </span> SIM </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>

                                {% if title == 'geral' %}
                                    <div class= 'row clearfix'>
                                        {% for campo in formulario.visible_fields|slice:'6:8' %}
                                            <div class= 'col-sm-6'>
                                                <div class= 'form-group'>
                                                    <div class= 'form-line'>
                                                        <h3 class= 'card-inside-title'> {{ campo.label }} </h3>
                                                        {{ campo }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <!-- Datas -->
                    <div class= 'card datas'>
                        <div class= 'body'>
                            <div class= 'header'>
                                <h2>
                                    Período
                                    <small> Informe o intervalo entre as datas que deseja ver os dados no relatório </small>
                                </h2>
                            </div>
                            
                            <br>
                            
                            <div class= 'col-xs-12'>
                                <div class= 'input-daterange input-group' id= 'bs_datepicker_range_container'>
                                    {% for campo in formulario.visible_fields|slice:'0:2' %}
                                        <span class= 'input-group-addon'> {{ campo.label }} </span>

                                        <div class= 'form-line'>
                                            {{ campo }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class= 'card datas'>
                        <div class= 'body'>
                            <div class= 'header'>
                                <h2>
                                    Adicionais
                                    <small> Todos são inseridos por padrão. Remova alguns caso esteja lento ou resultando em erro </small>
                                </h2>
                            </div>
                            
                            <br>
                            
                            <div class= 'col-xs-12'>
                                <div class= 'input-daterange input-group' id= 'bs_datepicker_range_container'>
                                    {% if formulario.dizimo %}
                                        <span class= 'input-group-addon'> {{ formulario.dizimo.label }} </span>
                                        <div> {{ formulario.dizimo }} </div>
                                    {% endif %}

                                    {% if formulario.chart %}
                                        <span class= 'input-group-addon'> {{ formulario.chart.label }} </span>
                                        <div> {{ formulario.chart }} </div>
                                    {% endif %}

                                    {% if formulario.attachment %}
                                        <span class= 'input-group-addon'> {{ formulario.attachment.label }} </span>
                                        <div> {{ formulario.attachment }} </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class= 'btn btn-primary btn-lg waves-effect'>
                        <i class= 'material-icons'> text_snippet </i>
                        <span> GERAR RELATÓRIO </span>
                    </button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src= "{% static 'js/paginas/relatorio/jquery.mask.min.js' %}"> </script>
    <script src= "{% static 'js/paginas/relatorio/datepicker/bootstrap-datepicker.min.js' %}"> </script>
    <script src= "{% static 'js/paginas/relatorio/datepicker/bootstrap-datepicker.pt-BR.min.js' %}"> </script>
    <script src= "{% static 'js/paginas/relatorio/relatorio.js' %}"> </script>
{% endblock %}