{% extends 'financeiro/base.html' %}
{% load static %}

{% block title %}
    {% block titulo %}
        Relatório de Saída
    {% endblock %}
{% endblock %}

{% block CSS %}
    <link rel= 'stylesheet' href= "{% static 'plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}">
    <link rel= 'stylesheet' href= "{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}">
    <link rel= 'stylesheet' href= "{% static 'plugins/waitme/waitMe.css' %}">
    <link rel= 'stylesheet' href= "{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %}">
    <link rel= 'stylesheet' href= "{% static 'plugins/nouislider/nouislider.min.css' %}">
    
    <link rel= 'stylesheet' href= "{% static 'css/paginas/relatorio.css' %}">
{% endblock %}

{% block dinamico %}
    <div class= 'row clearfix'>
        <div class= 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <form method= 'POST' action= "{% url 'relatorioSaida' %}">
                {% csrf_token %}

                <!-- Filtros -->
                <div class= 'card'>
                    <div class= 'body'>
                        <div class= 'header' id= 'filter'>                  <!-- Botão -->
                            <h2>
                                Filtros
                                <small> Adicionar filtros para gerar um relátorio mais refinado </small>
                            </h2>

                            <ul class= 'header-dropdown m-r--5'>
                                <i id= 'adicionar' class= 'material-icons'> add_circle </i>
                                <i id= 'deletar' class= 'material-icons' style= 'display: none'> delete </i>
                            </ul>
                        </div>
                        
                        <div style= 'display: none' id= 'filtros'>          <!-- Campos -->
                            <br>

                            <div class= 'row clearfix'>
                                {% for campo in formulario.visible_fields|slice:'2:6' %}
                                    <div class= 'col-sm-3'>
                                        <div class= 'form-group'>
                                            <div class= 'form-line'>
                                                <h3 class= 'card-inside-title'> {{ campo.label }} </h3>
                                                {{ campo }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <br>

                            <div class= 'row clearfix'>
                                <div class= 'col-md-12'>
                                    <h3 class= 'card-inside-title'> Valores </h3>

                                    <div id= 'nouislider_range_example'> </div>

                                    <div class= 'm-t-20 font-12'>
                                        <b> {{ formulario.minimo.label }} </b> <span class= 'js-nouislider-valueMin'> </span>
                                        {{ formulario.minimo }}

                                        ~

                                        <b> {{ formulario.maximo.label }} </b> <span class= 'js-nouislider-valueMax'> </span>
                                        {{ formulario.maximo }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Datas -->
                <div class= 'card'>
                    <div class= 'body'>
                        <div class= 'header'>
                            <h2>
                                Período
                                <small> Informe o intervalo entre as datas que deseja ver os dados no relatório </small>
                            </h2>
                        </div>
                        
                        <br>
                        
                        <div class= 'col-xs-12'>
                            <div class= 'input-daterange input-group' id= 'bs_datepicker_range_container'>
                                {% for campo in formulario.visible_fields|slice:'0:2' %}
                                    <span class= 'input-group-addon'> {{ campo.label }} </span>

                                    <div class= 'form-line'>
                                        {{ campo }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <button class= 'btn btn-primary btn-lg waves-effect'>
                            <i class= 'material-icons'> text_snippet </i>
                            <span> GERAR RELATÓRIO </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block JS %}
    <script src= 'https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js'> </script>

    <script src= "{% static 'plugins/autosize/autosize.js' %}"> </script>
    <script src= "{% static 'plugins/momentjs/moment.js' %}"> </script>
    <script src= "{% static 'plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"> </script>
    <script src= "{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"> </script>
    <script src= "{% static 'plugins/nouislider/nouislider.js' %}"> </script>

    <script src= 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pt-BR.min.js'> </script>

    <script src= "{% static 'js/paginas/relatorio/relatorio.js' %}"> </script>
    <script src= "{% static 'js/paginas/relatorio/basic-form-elements.js' %}"> </script>
    <script src= "{% static 'js/paginas/relatorio/advanced-form-elements.js' %}"> </script>
{% endblock %}