.header#filter{
    cursor: pointer;
}

.header{
    padding: 0 !important;
    border-bottom: none !important;
}

.card .header .header-dropdown{
    top: 10px !important;
}

.card .card-inside-title{
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}

.dropdown-toggle{
    padding: 7px 0px;
}

.card .header:hover .header-dropdown #adicionar{
    color: green;
}

.card .header:hover .header-dropdown #deletar{
    color: red;
}

.col-sm-6, .form-group{
    margin-bottom: 0px !important;
}

.col-xs-12{
    padding-left: 0px !important;
}

.form-control{
    padding-bottom: 0px !important;
}

.dropdown-menu{
    margin-top: 0px !important;
}

.noUi-connect, .noUi-horizontal .noUi-handle{
    background-color: #1f91f3 !important;
}

.col-xs-12{
    margin-bottom: 0px !important;
}

#id_minimo, #id_maximo{
    display: none;
}

.datepicker table tr td.selected{
    background-image: linear-gradient(to bottom, #1f91f3, #1f91f3) !important;
}