{% extends 'financeiro/base.html' %}

{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block CSS %}
    <link rel= 'stylesheet' href= "{% static 'member/css/form.css' %}">
{% endblock %}

{% block dinamico %}
    <form action= "{% url 'member' form.action %}" method= 'post'>
        {% csrf_token %}
        
        <div class= 'row clearfix'>
            <div class= 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>   
                <div class= 'card'>
                    <div class= 'header'>
                        <h2>
                            <strong> Dados </strong>

                            <small class= 'text-justify'>
                                Informe os dados para <strong> {{ form.action }} </strong> o membro.
                                Os que possuem <b> * </b> são <strong> obrigatórios </strong>
                            </small>
                        </h2>
                    </div>
                    
                    <div class= 'body padding-bottom-0'>
                        <div class= 'row clearfix'>
                            {% for input in form.inputs %}
                                <div class= "col-md-{{ input.help_text |slice:':2' |cut:' ' }}">
                                    <strong> {{ input.label |safe }} </strong>

                                    <div class= 'input-group'>
                                        <span class= 'input-group-addon'>
                                            <i class= 'material-icons'>
                                                {{ input.help_text |slice:'2:' }}
                                            </i>
                                        </span>

                                        <div class= 'form-line'> {{ input }} </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for name, values in form.buttons.items %}
            <button name= "{{ name }}" class= "btn btn-lg margin-top--15 margin-bottom-20 {{ values.class }}">
                <i class= 'material-icons'> {{ values.icon |lower }} </i>
                <span> {{ name |upper }} </span>
            </button>
        {% endfor %}
    </form>
{% endblock %}

{% block JS %}
    <script src= 'https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js'> </script>
    <script src= "{% static 'member/form.js' %}"> </script>
{% endblock %}