{% extends 'financeiro/base.html' %}
{% load static %}
{% block titulo %}
    DASHBOARD
{% endblock %}

{% block CSS %}
    <link rel= 'stylesheet' href= "{% static 'plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}">
    <link rel= 'stylesheet' href= "{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}">
    <link rel= 'stylesheet' href= "{% static 'plugins/waitme/waitMe.css' %}">
    <link rel= 'stylesheet' href= "{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %}">
{% endblock %}

{% block dinamico %}
    <form action="{% url 'relatorio' %}" method="POST">
        {% csrf_token %}
        <select class="form-control show-tick">
            <option class="form-control show-tick">IB CENTRO</option>
        </select>
        <br>

        Data Inicio: 

        <input type='date' name='dataInicio' class="form-control">
        <br>
        Data Fim: 
        <input type='date' name='dataFim' class="form-control">
        <br>
        <button class="btn btn-primary">Gerar Relatorio</button>
    </form>    
{% endblock %}
{% block JS %}
    <script src= "{% static 'plugins/autosize/autosize.js' %}"> </script>
    <script src= "{% static 'plugins/momentjs/moment.js' %}"> </script>
    <script src= "{% static 'plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"> </script>
    <script src= "{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"> </script>

    <script src= "{% static 'js/pages/forms/basic-form-elements.js' %}"> </script>
{% endblock %}