{% extends 'financeiro/base.html' %}

{% load static %}

{% block title %}
    {% block titulo %}
        Adicionar uma Saída
    {% endblock %}
{% endblock %}

{% block CSS %}
    <link rel= 'stylesheet' href= 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.min.css'>
    
    <link rel= 'stylesheet' href= "{% static 'plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}">
    <link rel= 'stylesheet' href= "{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}">
    <link rel= 'stylesheet' href= "{% static 'plugins/waitme/waitMe.css' %}">
    <link rel= 'stylesheet' href= "{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %}">
    <link rel= 'stylesheet' href= "{% static 'plugins/dropzone/dropzone.css' %}">

    <link rel= 'stylesheet' href= "{% static 'css/paginas/saida/saida.css' %}">
{% endblock %}

{% block dinamico %}
    <form method= 'POST' action= "{% url 'saida' 'adicionar' %}" enctype= 'multipart/form-data'>
        <div class= 'row clearfix'>
            <div class= 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                
                    {% csrf_token %}

                    <div class= 'card'>
                        <div class= 'header'>
                            <h2>
                                Dados
                                <small> Insira os dados para adicionar uma nova saída. Os dados com <b> * </b> são obrigatórios </small>
                            </h2>
                        </div>
                        
                        <div class= 'body'>
                            <div class= 'row clearfix'>
                                <div class= 'col-md-3'>             <!-- Congregação -->
                                    <strong> {{ formulario.congregacao.label }} <b> * </b> </strong>

                                    <div class= 'input-group'>
                                        <span class= 'input-group-addon'>
                                            <i class= 'material-icons'> location_city </i>
                                        </span>

                                        <div class= 'form-line'>
                                            {{ formulario.congregacao }}
                                        </div>
                                    </div>
                                </div>

                                <div class= 'col-md-3'>             <!-- Categoria -->
                                    <strong> {{ formulario.categoria.label }} <b> * </b> </strong>

                                    <div class= 'input-group'>
                                        <span class= 'input-group-addon'>
                                            <i class= 'material-icons'> category </i>
                                        </span>

                                        <div class= 'form-line'>
                                            {{ formulario.categoria }}
                                        </div>
                                    </div>
                                </div>

                                <div class= 'col-md-3'>             <!-- Pagamento -->
                                    <strong> {{ formulario.pagamento.label }} <b> * </b> </strong>

                                    <div class= 'input-group'>
                                        <span class= 'input-group-addon'>
                                            <i class= 'material-icons'> credit_card </i>
                                        </span>

                                        <div class= 'form-line'>
                                            {{ formulario.pagamento }}
                                        </div>
                                    </div>
                                </div>

                                <div class= 'col-md-3'>             <!-- Empresa -->
                                    <strong> {{ formulario.empresa.label }} <b> * </b> </strong>

                                    <div class= 'input-group'>
                                        <span class= 'input-group-addon'>
                                            <i class= 'material-icons'> store </i>
                                        </span>

                                        <div class= 'form-line'>
                                            {{ formulario.empresa }}
                                        </div>
                                    </div>
                                </div>

                                <div class= 'col-md-6'>             <!-- Nome -->
                                    <strong> {{ formulario.nome.label }} <b> * </b> </strong>

                                    <div class= 'input-group'>
                                        <span class= 'input-group-addon'>
                                            <i class= 'material-icons'> shopping_bag </i>
                                        </span>

                                        <div class= 'form-line'>
                                            {{ formulario.nome }}
                                        </div>
                                    </div>
                                </div>

                                <div class= 'col-md-6'>             <!-- Descrição -->
                                    <strong> {{ formulario.descricao.label }}  </strong>

                                    <div class= 'input-group'>
                                        <span class= 'input-group-addon'>
                                            <i class= 'material-icons'> short_text </i>
                                        </span>

                                        <div class= 'form-line'>
                                            {{ formulario.descricao }}
                                        </div>
                                    </div>
                                </div>

                                <div class= 'col-md-6'>             <!-- Valor -->
                                    <strong> {{ formulario.valor.label }} <b> * </b> </strong>

                                    <div class= 'input-group'>
                                        <span class= 'input-group-addon'>
                                            <i class= 'material-icons'> monetization_on </i>
                                        </span>

                                        <div class= 'form-line'>
                                            {{ formulario.valor }}
                                        </div>
                                    </div>
                                </div>

                                <div class= 'col-md-6'>             <!-- Data -->
                                    <strong> {{ formulario.data.label }} <b> * </b> </strong>

                                    <div class= 'input-group'>
                                        <span class= 'input-group-addon'>
                                            <i class= 'material-icons'> event </i>
                                        </span>

                                        <div class= 'form-line'>
                                            {{ formulario.data }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>             
                </form>
            </div>
        </div>

        <div class= 'row clearfix'>
            <div class= 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <div class= 'card'>
                    <div class= 'header'>
                        <h2>
                            Documentos
                            <small> Insira os documentos que comprove a compra e o pagamento. Você pode inserir depois, caso ainda não tenha </small>
                        </h2>
                    </div>

                    <div class= 'body'>
                        <div class= 'row clearfix'>
                            {% for campo in formulario.visible_fields|slice:'8:10'  %}
                                <div class= 'col-md-6'>
                                    <div action= '/' class= 'dropzone'>
                                        <div class= 'dz-message'>
                                            <div class= 'drag-icon-cph'>
                                                <i class= 'material-icons'> note_add </i>
                                            </div>

                                            <h3> {{ campo.label }} </h3>
                                            <em> Arraste nesta área ou clique e procure o arquivo </em>
                                        </div>

                                        <div class= 'fallback'>
                                            {{ campo }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <br>
                </div>
            </div>
        </div>

        <button class= 'btn btn-success btn-lg waves-effect'>
            <i class= 'material-icons'> add </i>
            <span> ADICIONAR SAÍDA </span>
        </button>
    </form>
{% endblock %}

{% block JS %}
    <script src= "{% static 'plugins/autosize/autosize.js' %}"> </script>
    <script src= "{% static 'plugins/momentjs/moment.js' %}"> </script>
    <script src= "{% static 'plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"> </script>
    <script src= "{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"> </script>
    <script src= "{% static 'plugins/dropzone/dropzone.js' %}"> </script>

    <script src= 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/pt-br.min.js'> </script>

    <script src= "{% static 'js/paginas/saida/saida.js' %}"> </script>
{% endblock %}