{% extends 'financeiro/base.html' %}

{% load static %}

{% block title %}
    {% block titulo %}
        Adicionar uma Saída
    {% endblock %}
{% endblock %}

{% block CSS %}
    <link rel= 'stylesheet' href= 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.min.css'>
    
    <link rel= 'stylesheet' href= "{% static 'css/plugins/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/bootstrap-datepicker/bootstrap-datepicker.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/waitme/waitMe.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/bootstrap-select/bootstrap-select.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/dropzone/dropzone.css' %}">

    <link rel= 'stylesheet' href= "{% static 'css/paginas/saida/saida.css' %}">
{% endblock %}

{% block dinamico %}
    {% if messages %}
        {% for success in messages %}
            <br>
            <div style="background-color: green;" id="alert" class="alert alert alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{ success }}
            </div>
        {% endfor %}
    {% endif %}
    <form method= 'POST' action= "{% url 'saida' 'adicionar' %}" enctype= 'multipart/form-data' id= 'formulario'>
        {% csrf_token %}
        
        <div class= 'row clearfix'>
            <div class= 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>   
                <div class= 'card'>
                    <div class= 'header'>
                        <h2>
                            Dados
                            <small> Insira os dados para adicionar uma nova saída. Os dados com <b> * </b> são obrigatórios </small>
                        </h2>
                    </div>
                    
                    <div class= 'body'>
                        <div class= 'row clearfix'>
                            {% for campo in formulario.visible_fields|slice:'0:4' %}
                                <div class= 'col-md-3'>
                                    <div class= 'col-md-10 titulo'>
                                        <strong> {{ campo.label }} <b> * </b> </strong>
                                    </div>
                                    
                                    <div class= 'col-md-2 text-right titulo'>
                                        <i class= 'material-icons adicionar' onclick= 'adicionar("{{ campo.label }}")'> add </i>
                                    </div>

                                    <div class= 'input-group'>
                                        <span class= 'input-group-addon'>
                                            <i class= 'material-icons'> {{ campo.help_text }} </i>
                                        </span>

                                        {{ campo }}
                                    </div>
                                </div>
                            {% endfor %}

                            {% for campo in formulario.visible_fields|slice:'4:8' %}
                                <div class= 'col-md-6'>
                                    <strong> {{ campo.label }} <b> * </b> </strong>

                                    <div class= 'input-group'>
                                        <span class= 'input-group-addon'>
                                            <i class= 'material-icons'> {{ campo.help_text }} </i>
                                        </span>

                                        <div class= 'form-line'>
                                            {{ campo }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        
        <div class= 'row clearfix'>
            <div class= 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <div class= 'card'>
                    <div class= 'header'>
                        <h2>
                            Documentos
                            <small> Insira os documentos que comprove a compra e o pagamento. Você pode inserir depois, caso ainda não tenha </small>
                        </h2>
                    </div>

                    <div class= 'body'>
                        <div class= 'row clearfix'>
                            {% for campo in formulario.visible_fields|slice:'8:10' %}
                                <div class= 'col-md-6'>
                                    <strong> {{ campo.label }} </strong>

                                    <div class= 'input-group'>
                                        <span class= 'input-group-addon'>
                                            <i class= 'material-icons'> {{ campo.help_text }} </i>
                                        </span>

                                        <div class= 'file'> 
                                            {{ campo }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class= 'btn btn-success btn-lg waves-effect'>
            <i class= 'material-icons'> add </i>
            <span> ADICIONAR SAÍDA </span>
        </button>
    </form>
{% endblock %}

{% block JS %}
    <script src= "{% static 'js/plugins/autosize/autosize.js' %}"> </script>
    <script src= "{% static 'js/plugins/momentjs/moment.js' %}"> </script>
    <script src= "{% static 'js/plugins/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.js' %}"> </script>
    <script src= "{% static 'js/plugins/bootstrap-datepicker/bootstrap-datepicker.js' %}"> </script>

    <script src= 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/pt-br.min.js'> </script>

    <script src= "{% static 'js/paginas/saida/saida.js' %}"> </script>

    <script>
        const adicionar = (classe) => {
            if(classe == 'Congregação')
                window.open("{% url 'congregacao' 'adicionar' %}?pop=on", '', 'popup')
            
            else if(classe == 'Categoria')
                window.open("{% url 'categoria' 'adicionar' %}", '', 'popup')

            else if(classe == 'Forma de Pagamento')
                window.open("{% url 'pagamento' 'adicionar' %}", '', 'popup')
            
            else if(classe == 'Fornecedor')
                window.open("{% url 'empresa' 'adicionar' %}?pop=on", '', 'popup')
        }
    </script>
{% endblock %}