{% extends 'financeiro/base.html' %}

{% load static %}

{% block title %}
    {% block titulo %}
        Alterar Saída
    {% endblock %}
{% endblock %}

{% block CSS %}
    <link rel= 'stylesheet' href= 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.min.css'>
    
    <link rel= 'stylesheet' href= "{% static 'css/plugins/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/bootstrap-datepicker/bootstrap-datepicker.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/waitme/waitMe.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/bootstrap-select/bootstrap-select.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/dropzone/dropzone.css' %}">

    <link rel= 'stylesheet' href= "{% static 'css/paginas/saida/saida.css' %}">

    <style>
        [type="checkbox"]:not(:checked), [type="checkbox"]:checked{
            position: unset !important;
            opacity: unset !important;
            margin-left: 0;
        }

        .link, .link:hover{
            text-decoration: none !important;
            color: #999 !important;
        }

        .margins-zero{
            margin-top: 0;
            margin-bottom: 0 !important;
        }
    </style>
{% endblock %}

{% block dinamico %}
    <form method= 'POST' action= "{% url 'saida' 'alterar' %}?id={{saida.pk}}" enctype= 'multipart/form-data' id= 'formulario'>
        {% csrf_token %}
        
        <div class= 'row clearfix'>
            <div class= 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>   
                <div class= 'card'>
                    <div class= 'header'>
                        <h2>
                            Dados
                            <small> Insira os dados para adicionar uma nova saída. Os dados com <b> * </b> são obrigatórios </small>
                        </h2>
                    </div>
                    
                    <div class= 'body'>
                        <div class= 'row clearfix'>
                            {% for campo in formulario.visible_fields|slice:'0:4' %}
                                <div class= 'col-md-3'>
                                    <div class= 'col-md-10 titulo'>
                                        <strong> {{ campo.label }} <b> * </b> </strong>
                                    </div>
                                    
                                    <div class= 'col-md-2 text-right titulo'>
                                        <i class= 'material-icons adicionar' onclick= 'adicionar("{{ campo.label }}")'> add </i>
                                    </div>

                                    <div class= 'input-group'>
                                        <span class= 'input-group-addon'>
                                            <i class= 'material-icons'> {{ campo.help_text }} </i>
                                        </span>

                                        {{ campo }}
                                    </div>
                                </div>
                            {% endfor %}

                            {% for campo in formulario.visible_fields|slice:'4:8' %}
                                <div class= 'col-md-6'>
                                    <strong> {{ campo.label }} <b> * </b> </strong>

                                    <div class= 'input-group'>
                                        <span class= 'input-group-addon'>
                                            <i class= 'material-icons'> {{ campo.help_text }} </i>
                                        </span>

                                        <div class= 'form-line'>
                                            {{ campo }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        
        <div class= 'row clearfix'>
            <div class= 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <div class= 'card'>
                    <div class= 'header'>
                        <h2>
                            Documentos
                            <small> Insira os documentos que comprove a compra e o pagamento. Você pode inserir depois, caso ainda não tenha </small>
                        </h2>
                    </div>

                    <div class= 'body'>
                        <div class= 'row clearfix'>
                            <div class= 'col-md-6'>
                                <strong> {{ formulario.comprovante.label }} </strong>

                                <div class= 'input-group margins-zero'>
                                    <span class= 'input-group-addon'>
                                        <i class= 'material-icons'> {{ formulario.comprovante.help_text }} </i>
                                    </span>

                                    <div class= 'file'> 
                                        {{ formulario.comprovante }}
                                    </div>
                                </div>

                                {% if saida.comprovante %}
                                    <div class= 'input-group margins-zero'>
                                        <span class= 'input-group-addon' style= 'padding-top: 3px'>
                                            <a id= 'a1comprovante' target= '_blank' class= 'link'>
                                                <i class= 'material-icons'> visibility </i>
                                            </a>
                                        </span>

                                        <div class= 'file'>
                                            <a id= 'a2comprovante' target= '_blank' class= 'link'>
                                                Visualizar o Atual
                                            </a>
                                        </div>
                                    </div>

                                    <div class= 'input-group margins-zero link' style= 'top: -10px'>
                                        <span class= 'input-group-addon' style= 'padding-right: 15px; padding-left: 2px'>
                                            {{ formulario.deletar }}
                                        </span>

                                        <div class= 'file'> 
                                            {{ formulario.deletar.label }}
                                        </div>
                                    </div>
                            
                                {% else %}
                                    <br>
                                    
                                {% endif %}
                            </div>

                            <div class= 'col-md-6'>
                                <strong> {{ formulario.nota_fiscal.label }} </strong>

                                <div class= 'input-group margins-zero'>
                                    <span class= 'input-group-addon'>
                                        <i class= 'material-icons'> {{ formulario.nota_fiscal.help_text }} </i>
                                    </span>

                                    <div class= 'file'> 
                                        {{ formulario.nota_fiscal }}
                                    </div>
                                </div>

                                {% if saida.nf %}
                                    <div class= 'input-group margins-zero'>
                                        <span class= 'input-group-addon' style= 'padding-top: 3px'>
                                            <a id= 'a1nf' target= '_blank' class= 'link'>
                                                <i class= 'material-icons'> visibility </i>
                                            </a>
                                        </span>

                                        <div class= 'file'>
                                            <a id= 'a2nf' target= '_blank' class= 'link'>
                                                Visualizar o Atual
                                            </a>
                                        </div>
                                    </div>

                                    <div class= 'input-group margins-zero link' style= 'top: -10px'>
                                        <span class= 'input-group-addon' style= 'padding-right: 15px; padding-left: 2px'>
                                            {{ formulario.deletar2 }}
                                        </span>

                                        <div class= 'file'> 
                                            {{ formulario.deletar2.label }}
                                        </div>
                                    </div>
                            
                                {% else %}
                                    <br>
                                    
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class= 'btn btn-success btn-lg waves-effect'>
            <i class= 'material-icons'> update </i>
            <span> ALTERAR SAÍDA </span>
        </button>
    </form>
{% endblock %}

{% block JS %}
    <script src= "{% static 'js/plugins/autosize/autosize.js' %}"> </script>
    <script src= "{% static 'js/plugins/momentjs/moment.js' %}"> </script>
    <script src= "{% static 'js/plugins/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.js' %}"> </script>
    <script src= "{% static 'js/plugins/bootstrap-datepicker/bootstrap-datepicker.js' %}"> </script>

    <script src= 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/pt-br.min.js'> </script>

    <script src= "{% static 'js/paginas/saida/saida.js' %}"> </script>
    
    
    <script>        // Preenchendo os campos do formulario
        document.getElementById('id_congregacao').value = '{{saida.congregacao.id}}'
        document.getElementById('id_categoria').value = '{{saida.categoria.id}}'
        document.getElementById('id_transacao').value = '{{saida.transacao.id}}'
        document.getElementById('id_fornecedor').value = '{{saida.fornecedor.id}}'
        document.getElementById('id_nome').value = '{{saida.nome}}'
        document.getElementById('id_descricao').value = '{{saida.descricao}}'
        document.getElementById('id_valor').value = parseFloat('{{saida.valor}}')
        document.getElementById('id_data').value = '{{ saida.data.day }}/{{ saida.data.month }}/{{ saida.data.year }}'
    </script>

    <script>
        const adicionar = (classe) => {
            if(classe == 'Congregação')
                window.open("{% url 'congregacao' 'adicionar' %}", '', 'popup')
            
            else if(classe == 'Categoria')
                window.open("{% url 'categoria' 'adicionar' %}", '', 'popup')

            else if(classe == 'Forma de Pagamento')
                window.open("{% url 'pagamento' 'adicionar' %}", '', 'popup')
            
            else if(classe == 'Fornecedor')
                window.open("{% url 'empresa' 'adicionar' %}", '', 'popup')
        }
    </script>

    <script>
        $('#a1comprovante').attr('href', window.location.origin + '/media/{{saida.comprovante}}')
        $('#a2comprovante').attr('href', window.location.origin + '/media/{{saida.comprovante}}')
        
        $('#a1nf').attr('href', window.location.origin + '/media/{{saida.nf}}')
        $('#a2nf').attr('href', window.location.origin + '/media/{{saida.nf}}')
    </script>
{% endblock %}