#botao{
    cursor: pointer;
}

.card .header, .col-xs-12{
    padding: 0 !important;
    border-bottom: none !important;
}

.card .header .header-dropdown{
    top: 10px !important;
}

.card .card-inside-title{
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}

.dropdown-toggle{
    padding: 7px 0px;
}

.header:hover #adicionar{
    color: green;
}

.header:hover #deletar{
    color: red;
}

.form-group, .col-xs-12{
    margin-bottom: 0px !important;
}

.form-control{
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

.dropdown-menu{
    margin-top: 0px !important;
}

.datepicker td.selected{
    background-image: linear-gradient(to bottom, #1f91f3, #1f91f3) !important;
}