{% extends 'base.html' %}

{% load static %}

{% block title %} Alterar uma Entrada {% endblock %}

{% block css %}
    <link rel= 'stylesheet' href= 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.min.css'>
    
    <link rel= 'stylesheet' href= "{% static 'css/plugins/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/bootstrap-datepicker/bootstrap-datepicker.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/waitme/waitMe.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/bootstrap-select/bootstrap-select.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/dropzone/dropzone.css' %}">

    <link rel= 'stylesheet' href= "{% static 'css/paginas/saida/saida.css' %}">

    <style>
        .card .body .col-md-12{
            margin-bottom: 0 !important;
        }

        [type="checkbox"]:not(:checked), [type="checkbox"]:checked{
            position: unset !important;
            opacity: unset !important;
            margin-left: 0;
        }

        .link, .link:hover{
            text-decoration: none !important;
            color: #999 !important;
        }

        .margins-zero{
            margin-top: 0;
            margin-bottom: 0 !important;
        }

    </style>
{% endblock %}

{% block page %}
    {% if messages %}
        {% for success in messages %}
            <br>
            <div style="background-color: green;" id="alert" class="alert alert alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{ success }}
            </div>
        {% endfor %}
    {% endif %}
    <form method= 'POST' action= "{% url 'emissao' 'alterar' %}?id={{dados.id}}" enctype= 'multipart/form-data' id= 'formulario'>
        {% csrf_token %}
        
        <div class= 'row clearfix'>
            <div class= 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>   
                <div class= 'card'>
                    <div class= 'header'>
                        <h2>
                            Dados
                            <small> Insira os dados para adicionar uma nova entrada. Os dados com <b> * </b> são obrigatórios </small>
                        </h2>
                    </div>
                    
                    <div class= 'body'>
                        <div class= 'row clearfix'>
                            <div class= 'col-md-12'>
                                <div class= 'col-md-10 titulo'>
                                    <strong> {{ formulario.missao.label }} <b> * </b> </strong>
                                </div>
                                
                                <div class= 'col-md-2 text-right titulo'>
                                    <i class= 'material-icons adicionar' onclick= "adicionar('{{formulario.missao.label}}')"> add </i>
                                </div>

                                <div class= 'input-group'>
                                    <span class= 'input-group-addon'>
                                        <i class= 'material-icons'> {{ formulario.missao.help_text }} </i>
                                    </span>

                                    {{ formulario.missao }}
                                </div>
                            </div>

                            <div class= 'col-md-12'>
                                <strong> {{ formulario.anotacao.label }} </strong>

                                <div class= 'input-group'>
                                    <span class= 'input-group-addon'>
                                        <i class= 'material-icons'> {{ formulario.anotacao.help_text }} </i>
                                    </span>

                                    <div class= 'form-line'>
                                        {{ formulario.anotacao }}
                                    </div>
                                </div>
                            </div>

                            <div class= 'col-md-4'>
                                <div class= 'col-md-10 titulo'>
                                    <strong> {{ formulario.transacao.label }} <b> * </b> </strong>
                                </div>
                                
                                <div class= 'col-md-2 text-right titulo'>
                                    <i class= 'material-icons adicionar' onclick= "adicionar('{{formulario.transacao.label}}')"> add </i>
                                </div>

                                <div class= 'input-group'>
                                    <span class= 'input-group-addon'>
                                        <i class= 'material-icons'> {{ formulario.transacao.help_text }} </i>
                                    </span>

                                    {{ formulario.transacao }}
                                </div>
                            </div>

                            {% for campo in formulario.visible_fields|slice:'2:4' %}
                                <div class= 'col-md-4'>
                                    <strong> {{ campo.label }} <b> * </b> </strong>

                                    <div class= 'input-group'>
                                        <span class= 'input-group-addon'>
                                            <i class= 'material-icons'> {{ campo.help_text }} </i>
                                        </span>

                                        <div class= 'form-line'>
                                            {{ campo }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        
        <div class= 'row clearfix'>
            <div class= 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <div class= 'card'>
                    <div class= 'header'>
                        <h2>
                            Documento
                            <small> Insira o documento que comprove a entrada. Você pode inserir depois, caso ainda não tenha </small>
                        </h2>
                    </div>

                    <div class= 'body'>
                        <div class= 'row clearfix'>
                            <div class= 'col-md-12'>
                                <strong> {{ formulario.comprovante.label }} </strong> 

                                <div class= 'input-group margins-zero'>
                                    <span class= 'input-group-addon'>
                                        <i class= 'material-icons'> {{ formulario.comprovante.help_text }} </i>
                                    </span>

                                    <div class= 'file'> 
                                        {{ formulario.comprovante }}
                                    </div>
                                </div>

                                {% if dados.comprovante %}
                                    <div class= 'input-group margins-zero'>
                                        <span class= 'input-group-addon' style= 'padding-top: 3px'>
                                            <a id= 'a1' target= '_blank' class= 'link'>
                                                <i class= 'material-icons'> visibility </i>
                                            </a>
                                        </span>

                                        <div class= 'file'>
                                            <a id= 'a2' target= '_blank' class= 'link'>
                                                Visualizar o Atual
                                            </a>
                                        </div>
                                    </div>

                                    <div class= 'input-group margins-zero link' style= 'top: -10px'>
                                        <span class= 'input-group-addon' style= 'padding-right: 15px; padding-left: 2px'>
                                            {{ formulario.deletar }}
                                        </span>

                                        <div class= 'file'> 
                                            {{ formulario.deletar.label }}
                                        </div>
                                    </div>
                                
                                {% else %}
                                    <br>
                                    
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class= 'btn btn-success btn-lg waves-effect'>
            <i class= 'material-icons'> update </i>
            <span> ALTERAR </span>
        </button>
    </form>
{% endblock %}

{% block js %}
    <script src= "{% static 'js/plugins/autosize/autosize.js' %}"> </script>
    <script src= "{% static 'js/plugins/momentjs/moment.js' %}"> </script>
    <script src= "{% static 'js/plugins/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.js' %}"> </script>
    <script src= "{% static 'js/plugins/bootstrap-datepicker/bootstrap-datepicker.js' %}"> </script>

    <script src= 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/pt-br.min.js'> </script>

    <script src= "{% static 'js/paginas/saida/saida.js' %}"> </script>

    <script>
        const adicionar = (classe) => {
            if(classe == 'Missão')
                window.open("{% url 'missao' 'adicionar' %}", '', 'popup')

            else if(classe == 'Forma de Entrada')
                window.open("{% url 'pagamento' 'adicionar' %}", '', 'popup')
        }
    </script>

    <script>
        $('#id_missao').val({{ dados.missao.id }})

        {% if dados.anotacao %}
            $('#id_anotacao').val('{{ dados.anotacao }}')
        {% endif %}

        $('#id_transacao').val({{ dados.transacao.id }})
        $('#id_valor').val(parseFloat({{ dados.valor }}))

        const   day     = {{ dados.data.day }} <= 9 ? '0{{dados.data.day}}' : {{ dados.data.day }},
                month   = {{ dados.data.month }} <= 9 ? '0{{dados.data.month}}' : {{ dados.data.month }}

        $('#id_data').val(`${day}/${month}/{{dados.data.year}}`)
    </script>

    <script>
        $('#a1').attr('href', window.location.origin + '/media/{{dados.comprovante}}')
        $('#a2').attr('href', window.location.origin + '/media/{{dados.comprovante}}')
    </script>
{% endblock %}