<div class= 'menu'>
    <ul class= 'list'>
        <li class= 'header'> MOVIMENTAÇÕES </li>

        <li>
            <a class= 'menu-toggle'>
                <i class= 'material-icons'> attach_money </i>
                <span> Entradas </span>
            </a>

            <ul class= 'ml-menu'>
                <li>
                    <a class= 'menu-toggle'>
                        <span> Adicionar </span>
                    </a>

                    <ul class= 'ml-menu'>
                        <li>
                            <a href= "{% url 'entrada' 'adicionar' %}">
                                <span> Ofertas de Membros </span>
                            </a>
                        </li>

                        <li>
                            <a href= "{% url 'avulso' 'adicionar' %}">
                                <span> Ofertas Avulsas </span>
                            </a>
                        </li>
                        
                        <li>
                            <a href= "{% url 'emissao' 'adicionar' %}">
                                <span> Ofertas de Missões </span>
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <a class= 'menu-toggle'>
                        <span> Listar </span>
                    </a>

                    <ul class= 'ml-menu'>
                        <li>
                            <a href= "{% url 'entrada' 'listar' %}">
                                <span> Ofertas de Membros </span>
                            </a>
                        </li>

                        <li>
                            <a href= "{% url 'avulso' 'listar' %}">
                                <span> Ofertas Avulsas </span>
                            </a>
                        </li>
                        
                        <li>
                            <a href= "{% url 'emissao' 'listar' %}">
                                <span> Ofertas de Missões </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a class= 'menu-toggle'>
                <i class= 'material-icons'> money_off </i>
                <span> Saídas </span>
            </a>

            <ul class= 'ml-menu'>
                <li> <a href= "{% url 'saida' 'adicionar' %}"> Adicionar </a> </li>
                <li> <a href= "{% url 'saida' 'listar' %}"> Listar </a> </li>
            </ul>
        </li>  

        <li>
            <a class= 'menu-toggle'>
                <i class= 'material-icons'> text_snippet </i>
                <span> Relatórios </span>
            </a>

            <ul class= 'ml-menu'>
                <li> <a href= "{% url 'relatorio' 'entrada' %}"> Entrada </a> </li>
                <li> <a href= "{% url 'relatorio' 'saida' %}"> Saída </a> </li>
                <li> <a href= "{% url 'relatorio' 'missao' %}"> Missão </a> </li>
                <li> <a href= "{% url 'relatorio' 'geral' %}"> Geral </a> </li>
            </ul>
        </li>

        <li class= 'header'> INFORMAÇÕES </li>

        <li>
            <a class= 'menu-toggle'>
                <i class= 'material-icons'> location_city </i>
                <span> Congregações </span>
            </a>

            <ul class= 'ml-menu'>
                <li> <a href= "{% url 'congregacao' 'adicionar' %}"> Adicionar </a> </li>
                <li> <a href= "{% url 'congregacao' 'listar' %}"> Listar </a> </li>
            </ul>
        </li>

        <li>
            <a class= 'menu-toggle'>
                <i class= 'material-icons'> store </i>
                <span> Fornecedores </span>
            </a>

            <ul class= 'ml-menu'>
                <li> <a href= "{% url 'empresa' 'adicionar' %}"> Adicionar </a> </li>
                <li> <a href= "{% url 'empresa' 'listar' %}"> Listar </a> </li>
            </ul>
        </li>

        <li>            <!-- Members -->
            <a class= 'menu-toggle'>
                <i class= 'material-icons'> people_alt </i>
                <span> Membros </span>
            </a>

            <ul class= 'ml-menu'>
                <li> <a href= "{% url 'member' 'adicionar' %}"> Adicionar </a> </li>
            </ul>
        </li>

        <li>
            <a class= 'menu-toggle'>
                <i class= 'material-icons'> feedback </i>
                <span> Missões </span>
            </a>

            <ul class= 'ml-menu'>
                <li> <a href= "{% url 'missao' 'adicionar' %}"> Adicionar </a> </li>
                <li> <a href= "{% url 'missao' 'listar' %}"> Listar </a> </li>
            </ul>
        </li>
    </ul>
</div>