{% extends 'base.html' %}

{% load static %}
{% load tags %}

{% block title %}
    {% block titulo %}
        Alterar Membro
    {% endblock %}
{% endblock %}

{% block CSS %}
    <link rel= 'stylesheet' href= 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.min.css'>
    
    <link rel= 'stylesheet' href= "{% static 'css/plugins/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/bootstrap-datepicker/bootstrap-datepicker.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/waitme/waitMe.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/bootstrap-select/bootstrap-select.css' %}">
    <link rel= 'stylesheet' href= "{% static 'css/plugins/dropzone/dropzone.css' %}">

    <link rel= 'stylesheet' href= "{% static 'css/paginas/saida/saida.css' %}">

    <style>
        .btn-danger{
            margin-top: -15px;
        }
    </style>

{% endblock %}

{% block dinamico %}
    <form method= 'POST' action= "{% url 'membro' 'alterar' %}?id={{membro.id}}" id= 'formulario'>
        {% csrf_token %}
        
        <div class= 'row clearfix'>
            <div class= 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>   
                <div class= 'card'>
                    <div class= 'header'>
                        <h2>
                            Dados
                            <small> Click nos campos que deseja fazer alterações. Os dados com <b> * </b> são obrigatórios </small>
                        </h2>
                    </div>
                    
                    <div class= 'body'>
                        <div class= 'row clearfix'>
                            {% for campo in formulario %}
                                <div class= "col-md-{{ campo.help_text |column }}">
                                    <strong> {{ campo.label |safe }} </strong>

                                    <div class= 'input-group'>
                                        <span class= 'input-group-addon'>
                                            <i class= 'material-icons'> {{ campo.help_text |icon }} </i>
                                        </span>

                                        <div class= 'form-line'>
                                            {{ campo }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style= 'width: 50%; float: left'>
            <button class= 'btn btn-lg btn-success waves-effect'>
                <i class= 'material-icons'> update </i>
                <span> ALTERAR </span>
            </button>
        </div>
    </form>
    <div style= 'width: 50%; float: right; text-align: right;'>
        <a href="{% url 'membro' 'deletar' %}?id={{membro.id}}"> 
            <button class= 'btn btn-lg btn-danger waves-effect'>
                <i class= 'material-icons'> delete </i>
                <span> DELETAR </span>
            </button>
        </a>
    </div>
{% endblock %}

{% block JS %}
    <script src= "{% static 'js/plugins/autosize/autosize.js' %}"> </script>
    <script src= "{% static 'js/plugins/momentjs/moment.js' %}"> </script>
    <script src= "{% static 'js/plugins/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.js' %}"> </script>
    <script src= "{% static 'js/plugins/bootstrap-datepicker/bootstrap-datepicker.js' %}"> </script>

    <script src= 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/pt-br.min.js'> </script>
    <script src= 'https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js'> </script>     <!-- JQuery Mask -->
    
    <script src= "{% static 'js/paginas/saida/saida.js' %}"> </script>

    <script>
        $('#id_CPF').mask('000.000.000-00')
        $('#id_celular').mask('00 0 0000-0000')
    </script>

    {% comment %} Preenchendo os campos do formulario {% endcomment %}
    <script>
        {% if membro.CPF %}
            document.getElementById("id_cpf").value = '{{membro.CPF}}';
        {% endif %}
        
        document.getElementById("id_name").value = '{{membro.nome}}';
        
        {% if membro.cell %}
            document.getElementById("id_cell").value = '{{membro.cell}}';
        {% endif %}
        
        {% if membro.email %}
            document.getElementById("id_email").value = '{{membro.email}}';
        {% endif %}
        
        $('#id_sex').val('{{ membro.sex }}')

        {% if membro.birth %}
            $('#id_birth').val('{{membro.birth.day}}/{{membro.birth.month}}/{{membro.birth.year}}')
        {% endif %}
    </script>
{% endblock %}