{% extends 'financeiro/base.html' %}

{% load static %}

{% block title %}
    {% block titulo %}
        Membros
    {% endblock %}
{% endblock %}

{% block CSS %}    
    <link rel="stylesheet" href="{% static 'css/paginas/tabela.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.css' %}">
    
{% endblock %}

{% block dinamico %}
    <div class= 'row clearfix'>
        <div class= 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <div class="container-fluid">
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th>CPF</th>
                                            <th>NOME</th>
                                            <th>TELEFONE</th>
                                            <th>CONTATAR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for membro in membros %}
                                            <tr>
                                                <td><a href="{%url 'membro' 'alterar' %}?id={{membro.pk}}">{% if membro.CPF %} {{membro.CPF}} {% endif %}</a></td>
                                                <td>{{membro.nome}}</td>
                                                <td>{% if membro.celular %} {{membro.celular}} {% endif %}</td>
                                                
                                                <td id = 'tabela'>
                                                    {% if membro.celular %}
                                                        <a style= 'font-size: 17px' href= 'https://api.whatsapp.com/send?phone=+55{{ membro.celular|cut:" "|cut:"-" }}' target= '_blank'>
                                                            <i class= 'fa fa-whatsapp'> </i>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Examples -->
        </div>
    </div>
{% endblock %}

{% block JS %}    
    <script src="{% static 'js/base/jquery.min.js' %}"></script>
    <script src="{% static 'js/paginas/jquery-datatable.js' %}"></script>
    <script src="{% static 'js/paginas/membro/tabela_membro.js' %}"></script>
    <script src="{% static 'js/paginas/membro/tabela_membro.bootstrap.js' %}"></script>
{% endblock %}