{% load static %}

<!DOCTYPE HTML>
<html lang= 'pt-br'>
    <head>
        <meta charset= 'utf-8'>
        <meta content= 'width= device-width, initial-scale= 1, maximum-scale= 1, user-scalable= no' name= 'viewport'>

        <!-- Aba -->
        <link rel= 'icon' href= "{% static 'image/logo.jpg' %}">    <!-- Ícone -->
        <title> {% block title %} {% endblock %} </title>           <!-- Título variável -->

        <!-- CSS -->
        <link rel= 'stylesheet' href= "{% static 'css/base/import.css' %}">     <!-- Toda a base -->
        {% block css %} {% endblock %}  <!-- Estilos adicionais de cada página -->
    </head>

    <body class= 'theme-blue'>
        <!-- Tela de Carregamento -->
        {% include 'div/loading.html' %}

        <!-- Cabeçalho -->
        <nav class= 'navbar'>
            <div class= 'container-fluid'>
                <div class= 'navbar-header'>
                    <a class= 'navbar-brand' href= "{% url 'index' %}"> IGREJA BATISTA DE CORRENTE </a>
                </div>
            </div>
        </nav>

        <!-- Esquerda -->
        <section>
            <aside id= 'leftsidebar' class= 'sidebar'>
                <div class= 'user-info'>
                    <div class= 'image'>
                        <img src= "{% static 'image/logo.jpg' %}" width= '48' height= '48' alt= 'User'>
                    </div>

                    <div class= 'info-container'>
                        <div class= 'name' data-toggle= 'dropdown' aria-haspopup= 'true' aria-expanded= 'false'>
                            <strong> {{ user.first_name }} {{ user.last_name }} </strong>
                        </div>

                        <div class= 'email'> {{ user.email }} </div>

                        <div class= 'btn-group user-helper-dropdown'>
                            <i class= 'material-icons' data-toggle= 'dropdown' aria-haspopup= 'true' aria-expanded= 'true'>
                                keyboard_arrow_down
                            </i>

                            <ul class= 'dropdown-menu pull-right'>
                                <li>        <!-- Perfil -->
                                    <a href= "{% url 'usuario' 'perfil' %}">
                                        <i class= 'material-icons'> person </i> Perfil
                                    </a>
                                </li>

                                <li role= 'separator' class= 'divider'> </li>

                                <li>        <!-- Usuários -->
                                    <a href= "{% url 'usuario' 'listar' %}">
                                        <i class= 'material-icons'> group </i> Usuários
                                    </a>
                                </li>
                                
                                <li role= 'separator' class= 'divider'> </li>
                                
                                <li>        <!-- Sair -->
                                    <a href= "{% url 'conta' 'logout' %}">
                                        <i class= 'material-icons'> input </i> Sair
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Menu -->
                {% include 'div/menu.html' %}

                <!-- Direito Autoral e Versão -->
                {% include 'div/copyright.html' %}
            </aside>
        </section>

        <!-- Página Variável -->
        <section class= 'content'>
            <div class= 'container-fluid'>
                {% block page %} {% endblock %}
            </div>
        </section>
        
        <!-- JS -->
        {% include 'div/js.html' %}     <!-- Todos da base -->
        {% block js %} {% endblock %}   <!-- Métodos adicionais de cada página -->
    </body>
</html>