{% extends 'base.html' %}

{% load static %}

{% block title %}
    {% block titulo %}
        Página Inicial
    {% endblock %}
{% endblock %}

{% block CSS %}
    <link rel= 'stylesheet' href= "{% static 'css/paginas/index/morris.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css">
{% endblock %}

{% block dinamico %}
    <div class= 'row clearfix'>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-orange hover-expand-effect">
                <div class="icon">
                    <i class="material-icons"> person </i>
                </div>
                <div class="content">
                    <div class="text"> MEMBROS </div>
                    <div class="number count-to" data-from="0" data-to= '{{ membros }}' data-speed="1000" data-fresh-interval="20"> {{ membros }} </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-blue hover-expand-effect">
                <div class="icon">
                    <i class="material-icons"> location_city </i>
                </div>
                <div class="content">
                    <div class="text"> CONGREGAÇÕES </div>
                    <div class="number count-to" data-from="0" data-to= '{{ congregacoes }}' data-speed="15" data-fresh-interval="20"> {{ congregacoes }} </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-green hover-expand-effect">
                <div class="icon">
                    <i class="material-icons"> feedback </i>
                </div>
                <div class="content">
                    <div class="text"> MISSÕES </div>
                    <div class="number count-to" data-from="0" data-to= '{{ missoes }}' data-speed="1000" data-fresh-interval="20"> {{ missoes }} </div>
                </div>
            </div>
        </div> 
    </div>
    
    <div class= 'row clearfix'>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="header">
                    <h2> MEMBROS </h2>
                </div>
                <div class="body">
                    <canvas id="lineChart" width="50" height="50"></canvas>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="header">
                    <h2> AVULSAS </h2>
                </div>
                <div class="body">
                    <canvas id="lineChart2" width="50" height="50"></canvas>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="header">
                    <h2> MISSÕES </h2>
                </div>
                <div class="body">
                    <canvas id="lineChart3" width="50" height="50"></canvas>
                </div>
            </div>
        </div>
    </div>
    
    <div class= 'row clearfix'>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="card">
                <div class="header">
                    <h2> ÚLTIMAS SAÍDAS </h2>
                </div>

                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-hover dashboard-task-infos">
                            <thead>
                                <tr>
                                    <th> Valor </th>
                                    <th> Data </th>
                                    <th> Nome </th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for saida in saidas %}
                                    <tr>
                                        <td> <a style= 'color: red !important' href= "{% url 'saida' 'alterar' %}?id={{saida.id}}">  R$ {{ saida.valor }} </a> </td>
                                        <td> {{ saida.data }} </td>
                                        <td> {{ saida.nome }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="header">
                    <h2> MOVIMENTAÇÕES </h2>
                </div>
                <div class="body">
                    <canvas id="pieChart" width="50" height="50"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block JS %}
    <script src= "{% static 'js/paginas/index/jquery.countTo.js' %}"> </script>
    <script src= "{% static 'js/paginas/index/raphael.min.js' %}"> </script>
    <script src= "{% static 'js/paginas/index/morris.js' %}"> </script>
    <script src= "{% static 'js/paginas/index/Chart.bundle.js' %}"> </script>
    <script src= "{% static 'js/paginas/index/jquery.sparkline.js' %}"> </script>
    {% comment %} <script src= "{% static 'js/paginas/index/index.js' %}"> </script> {% endcomment %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

    <script>
        var ctx = document.getElementById('lineChart');

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['', '', '', '', '', '', '', ''],
                datasets: [{
                    label: 'Ofertado',
                    data: {{ ofertasMembros }},
                    backgroundColor: ['rgba(33, 150, 243)'],
                    borderColor: ['rgba(0, 0, 0, 0.5)'],
                    borderWidth: 1
                }]
            }
        })


        var ctx2 = document.getElementById('lineChart2');
        var myChart = new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: ['', '', '', '', '', '', '', ''],
                    datasets: [{
                        label: 'Ofertado',
                        data: {{ ofertasAvulsas }},
                        backgroundColor: ['rgba(33, 150, 243)'],
                        borderColor: ['rgba(0, 0, 0, 0.5)'],
                        borderWidth: 1
                    }]
                }
        })


        var ctx3 = document.getElementById('lineChart3');
        var myChart = new Chart(ctx3, {
                type: 'line',
                data: {
                    labels: ['', '', '', '', '', '', '', ''],
                    datasets: [{
                        label: 'Ofertado',
                        data: {{ ofertasMissoes }},
                        backgroundColor: ['rgba(33, 150, 243)'],
                        borderColor: ['rgba(0, 0, 0, 0.5)'],
                        borderWidth: 1
                    }]
                }
        })
        
        
        var pie = document.getElementById('pieChart');
        var pieChart = new Chart(pie, {
                type: 'pie',
                data: {
                    labels: ['Entradas', 'Saídas'],
                    datasets: [{
                        label: 'TOTAL DE MOVIMENTAÇÕES',
                        data: [{{totalEntradas}},{{totalSaidas}}],
                        //data: [3,5],
                        backgroundColor: [
                            'green',
                            'red',
                        ],
                        borderColor: [
                            'green',
                            'red',
                        ],
                        borderWidth: 1
                    }]
                }
            })
            
    </script>

    <script src= "{% static 'index.js' %}"> </script>   <!-- Métodos feitos manualmente -->

    <!-- Se ocorrer erro -->
    {% if error %} <script> error() </script> {% endif %}   <!-- Mostra alerta de erro -->
{% endblock  %}